{:paths ["src"]

 :deps
 {org.clojure/clojure                   {:mvn/version "1.10.3"}
  hodur/engine                          {:mvn/version "0.1.7"}
  camel-snake-kebab/camel-snake-kebab   {:mvn/version "0.4.1"}
  datascript/datascript                 {:mvn/version "0.18.4"}}

 :aliases
 {:dev
  {:extra-deps
   {com.walmartlabs/lacinia {:mvn/version "0.38.0"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}
   :main-opts ["-m" "kaocha.runner"]}}}
